<?xml version="1.0"?>
<model>
  <name>iris_with_standoffs_and_cam_treatment</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>OpenSource</name>
  </author>
  <description>Copy of iris_with_standoffs_and_cam for treatment drone (separate camera topic).</description>
</model>
